USE [master]
GO
/****** Object:  Database [LOGINs]    Script Date: 3/24/2023 8:13:02 PM ******/
CREATE DATABASE [LOGINs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOGINs', FILENAME = N'E:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\LOGINs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOGINs_log', FILENAME = N'E:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\LOGINs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOGINs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOGINs]
GO
/****** Object:  Table [dbo].[ACOUNT]    Script Date: 3/24/2023 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACOUNT](
	[UserLogin] [varchar](20) NOT NULL,
	[UserName] [nvarchar](47) NULL,
	[Passwords] [varchar](20) NOT NULL,
	[PowerAcount] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 3/24/2023 8:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bookName] [nvarchar](100) NOT NULL,
	[author] [nvarchar](100) NOT NULL,
	[bookLoan] [float] NOT NULL,
	[bookPrice] [float] NOT NULL,
	[totalQuantity] [int] NOT NULL,
	[actualQuantity] [int] NOT NULL,
	[bookType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACOUNT] ADD  DEFAULT ((0)) FOR [PowerAcount]
GO
USE [master]
GO
